<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="App\Framework\Kernel" />
        <env name="APP_ENV" value="test" force="true" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>

    <testsuites>
        <testsuite name="domain">
            <directory>tests/BikeRides/Shared/Domain</directory>
        </testsuite>
        <testsuite name="application">
            <directory>tests/BikeRides/Billing/Application</directory>
            <directory>tests/BikeRides/Rides/Application</directory>
        </testsuite>
        <testsuite name="infrastructure">
            <directory>tests/BikeRides/Billing/Infrastructure</directory>
            <directory>tests/BikeRides/Rides/Infrastructure</directory>
        </testsuite>
        <testsuite name="ui">
            <directory>tests/BikeRides/Billing/Ui</directory>
            <directory>tests/BikeRides/Rides/Ui</directory>
        </testsuite>
<!--        <testsuite name="framework">-->
<!--            <directory>tests/Framework</directory>-->
<!--        </testsuite>-->
    </testsuites>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
